.object-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    padding: 15px;
}

.object-list-h {
    padding: 20px 15px;
}

.object-list-item {
    display: flex;
    color: #000000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 200px;
    padding: 15px;
    cursor: pointer;
}

.object-list-item:hover {
    opacity: 0.8;
}

.object-list-item:active {
    opacity: 0.5;
}

.object-list-item img {
    height: 140px;
    width: 140px;
    margin: auto;
    padding-bottom: 10px;
}

.object-list-item p {
    height: 150px;
    width: 150px;
    font-size: smaller;
}

.object-list-item .object-list-item-description {
    font-size: xx-small;
    overflow: hidden;
}

.object-list-item strong {
    font-size: larger;
    letter-spacing: 2px;
    color: #de0024;
}