.basket {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

.basket button {
    min-height: 35px;
    min-width: 185px;
    font-size: 18px;
    margin: 15px 15px 15px 0;
}

h1 {
    padding: 20px 0;
    font-size: 36px;
}