* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

#root {
    display: flex;
    flex-direction: row;
    font-family: Cera Pro, serif;
}

#root section {
    margin-left: 260px;
    flex: 1;
}

.active {
    font-weight: bold;
}