* {
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

#root {
    display: flex;
    flex-direction: row;
    font-family: Cera Pro, serif;
}

#menu, #stock, #coupon, #basket {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 20px;
}

#root h1 {
    margin: 20px;
}

#menu > div, #stock > div, #coupon > div, #basket > div {
    width: 200px;
    height: 200px;
    margin: 5px;
    text-align: center;
    border-bottom: 2px solid #777777;
    border-right: 2px solid #777777;
    cursor: pointer;
}

#menu > div img, #basket > div img {
    height: 80%;
}