
#header {
    display: flex;
    flex-wrap: wrap; /*перенос строки */
    justify-content: space-between; /*прижимает содержимое к краям */
    align-items: center; /*выравнивает элементы по центру на вертикальной */
    background-color: #de0024;
}

#header .menu ul {
    display: flex;
    list-style: none;
}

#header .menu ul li {
    width: 150px;
    margin: 15px 3px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: #c1c1c1;
    border-right: 2px solid #3f3f3f;
}
