#navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 260px;
    background-color: red;
    overflow-x: hidden;
}


#navbar div {
    height: 50px;
    background: darkred;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar h1 {
    color: white;
    cursor: pointer;
}

#navbar img {
    padding: 30px 0;
    height: 80px;
    object-fit: cover;
}

#root section {
    margin-left: 260px;
    flex: 1;
}